.timeline {
  &__label {
    flex-grow: 100;
    background: #000000;
    color: #ffffff;
    height: 3.6rem;
    border: 1px solid #ffffff;
    outline: none;
    font-size: 1rem;
    padding: 0 1rem;
    font-size: 1.25rem;
  }

  position: absolute;
  top: 39.25rem;
  left: 0;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  font-size: 1.25rem;
}

.fpBtn {
  &:hover {
    text-decoration: underline;
  }
  position: absolute;
  top: 43.25rem;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #ffffff;
  padding: 1rem 2rem;
}

@-moz-document url-prefix() {
  .timeline {
    top: 41.5rem;
  }
  .fpBtn {
    top: 45.5rem;
  }
  .mop {
    padding: 0.5rem 1rem;
  }
}

.mop {
  border: 1px solid #ffffff;
  padding: 0.9rem 1rem;
}
